ul li::before {
    content: ' - ';
    background: red;
    color: #fff;
    display: block;
}

p::first-letter {
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p {
    font-family: 24px;
}

p::first-line {
    background: blue;
}

p::selection {
    background: black;
    color: white;
}
::placeholder {
    font-size: 20px;
    color: aqua;
}