ul li:nth-child(odd) {
    background-color: purple;
}

ul li:nth-child(even) {
    background-color: green ;
}

ul li:nth-child(3n) {
    background-color: blue ;
}

ul li:nth-child(3n + 5) {
    background-color: red ;
}